{% extends 'base_html.html' %}
{% load static %}
{% block titleextra %} - Registration{% endblock %}

{% block main %}

<div class="register">
{% if user.is_authenticated %}
<h2>Registration</h2>
<h3>You are already logged in</h3>
{% else %}
<form method="post"  class="form-horizontal" action="/accounts/register/">
<fieldset>
<legend>Registration</legend>

{% csrf_token %}
<div class="control-group">
	<label class="control-label" for="id_username">{{ form.username.label }}</label>
	<div class="controls">
		{{ form.username }}
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="id_password">{{ form.password.label }}</label>
	<div class="controls">
		{{ form.password }}
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="id_passwordConfirm">{{ form.passwordConfirm.label }}</label>
	<div class="controls">
		{{ form.passwordConfirm }}
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="id_email">{{ form.email.label }}</label>
	<div class="controls">
		{{ form.email }}
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="id_gender">{{ form.gender.label }}</label>
	<div class="controls">
		{{ form.gender }}
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="id_test">{{ form.test.label }}</label>
	<div class="controls">
		{{ form.test }}
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<button type="submit" class="btn">Register</button>
	</div>
</div>
</fieldset>
</form>
{% endif %}
</div>

{% endblock %}

{% block extraScripts %}
<script>
var menuItem = document.getElementById("menu_register");
menuItem.className = "active";
</script>
{% endblock %}